<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


<div class="container text-center">
  <h3>Hi!
  <br>
  I`m glad to see you:)
  <br>
  This page contains informaiton about website
  <br>
  It was done by Jakush Eugenio as study project
  <br>
  Date of create: 15.11.2022
  <br>
  Thank`s for visit
  <h3>
  <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>
